@model LAB21.Models.User
@{
    /**/

    ViewBag.Title = "WelcomeMat";
}

<h2>WelcomeMat</h2>
<p>WELCOME @Model.UserName!</p>

<p>Sending your @Model.Password to everybody!</p>
<p>Hacking @Model.Email and @Model.PersonalWeb</p>

<p>If you have any problems, please call: >@ViewBag.digi</p>
